<div class="header-info">
  <div class="contact-item">
    <a href="tel:48731898388" title="Zadzwoń">
      <fa-icon class="contact-item-icon " [icon]="faMobileScreen"></fa-icon>
      <span class="contact-text">+48 731 898 388</span>
    </a>
  </div>
  <div class="contact-item">
    <a href="mailto: art.estetica6@gmail.com" title="Napisz">
      <fa-icon class="contact-item-icon" [icon]="faAt"></fa-icon>
      <span class="contact-text">art.estetica6&#64;gmail.com</span>
    </a>
  </div>
</div>