@if(images && images.length > 0){
<div class="carousel-container">
  @for(image of images; track image){
  <img [src]="image.imageSrc" [alt]="image.imageAlt" [ngClass]="{'image-active': selectedIndex ===  $index}"
    class="fade">
  }
  <div class="booking-box">
    <a href="https://booksy.com/blog/pl/dla-ciebie/?gclid=Cj0KCQjw7Py4BhCbARIsAMMx-_I9cxTnohWYO_19rrAuBOsyvjh3PWknR4oqMJ9hwfd49r4Kv5M-vR0aArjlEALw_wcB&%24web_only=true&_branch_match_id=1161696517989550109&utm_source=Google%20Ads&utm_campaign=%5BPL%5D%20Booksy%20Brand&utm_medium=cpc&_branch_referrer=H4sIAAAAAAAAAwXB3QqCMBgA0LfpTmdlhIHEHF2oiSaBdDV0Tufv8ps6venZO0fM81fdEGJlbxZSdmo3mRwQR7nY%2BJQFp3Ip7jXrm9IlrRWSV6uvyW57ghQ49RWOos2gvsO29yhF9onp0QHAixerfW3FOcm6MbXlFAWO0FVpO2CH6yUy1tTKMbT9Az811cw7%2FIBXHKAZa1qA1IqDSwTIgf8B%2F5Uzv6EAAAA%3D"
      target="_blank" rel="noopener noreferrer" class="booking-btn">Zarezerwuj</a>
    <!-- <button class="booking-btn">Zarezerwuj</button> -->
  </div>

  @if(indicators){
  <div class="carousel-line-container">
    @for(line of images; track line){
    <span class="line" [ngClass]="{'active': selectedIndex === $index}" (click)="selectImage($index)">
    </span>
    }
  </div>
  }

  @if(controls){
  <button class="btn-carousel btn-prev" (click)="onPrevClick()">
    <fa-icon class="icon-carousel icon-prev" [icon]="faCircleLeft"></fa-icon>
  </button>

  <button class="btn-carousel btn-next" (click)="onNextClick()">
    <fa-icon class="icon-carousel icon-next" [icon]="faCircleRight"></fa-icon>
  </button>
  }
</div>
}