.section-contact-container {
  padding: 20px 30px 30px;
  margin: 0 30px 4.8rem;
  color: #aaa;
  font-size: 0.7rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f3eced;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .cta-field {
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: start;
      label {
        font-size: 0.9rem;
        color: rgb(196, 161, 167);
      }
      input,
      textarea {
        color: #444;
        width: 100%;
        padding: 10px;
        font-size: 0.8rem;
        border: none;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        &::placeholder {
          color: #ccc;
        }
        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(196, 161, 167, 0.53);
        }
      }
      textarea {
        max-width: 100%;
      }
    }
    .btn-form {
      margin-top: 15px;
      width: 100%;
      background-color: #c4a1a7;
      color: #fff;
      padding: 18px 16px;
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 20px;
      transition: background-color 0.3s;
      transition: all 0.3s;
      &:hover {
        color: #c4a1a7;
        background-color: #fff;
      }
      &:active,
      &:visited {
        box-shadow: 0 0 0 2px rgba(196, 161, 167, 0.53);
      }
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .section-contact-form {
    padding: 20px 60px 30px;

    .section-contact-container {
      max-width: 650px;
      margin: 0 auto 4.8rem;
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .contact-text {
    .text {
      font-size: 1rem;
    }
  }
  .contact-bottom {
    .contact-form {
      .cta-field {
        label {
          font-size: 1.3rem;
        }
        input,
        textarea {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .section-contact-form {
    .section-contact-container {
      margin-bottom: 0;
    }
  }
}
