<app-header></app-header>
<app-section-main></app-section-main>
<app-section-about></app-section-about>
<app-section-treatments></app-section-treatments>
<app-section-effects></app-section-effects>
<app-section-price></app-section-price>
<div class="full-screen-solution">
  <app-section-contact-form></app-section-contact-form>
  <app-footer></app-footer>
</div>
@if(isScrollToTopVisible){
<button class="scroll-to-top" (click)="scrollToUp()" title="Back to Top">
  <fa-icon [icon]="faAnglesUp"></fa-icon>
</button>
}